<form {{action 'componentAction' model on="submit"}}>
  <p>
    <label>Name:</label>
    {{input type="text" value=model.name}}
  </p>
  <p>
    <label>Description</label>
    {{input type="text" value=model.description}}
  </p>

  <input type="submit">
</form>
